* {
  box-sizing: border-box;
}

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background-color: #bef6e9;
  font-family: 'Archivo Black', sans-serif;
  color: #231f20;
  max-width: 700px;
  margin: 0 auto 0 0;
}

.my-canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "banner header header header" "banner . gameBoard ." "banner footer footer footer";
}

.banner {
  grid-area: banner;
}

.banner h1{
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 7em;
  letter-spacing: .1em;
  margin: auto 0;
  height: 100vh;
  text-align: center;
  width: auto;
  background-color: #1538cf;
  color: white;
  float: left;
  text-shadow: -5px 0 #231f20, 0 5px #231f20, 5px 0 #231f20, 0 -5px #231f20;
  -webkit-text-stroke: 1px #231f20;
}

.red {
  color: #ef303b;
}

.outline {
  -webkit-text-stroke: 2px #231f20;
}

h2 {
  font-size: 200%;
}

.blue {
  color: #1538cf;
}

.white {
  color: white;
}

.instructions {
  background-color: white;
  border: 4px solid #231f20;
  padding: .5em;
  width: 480px;
  margin: auto;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: #ef303b;
  text-decoration-style: wavy;
}

.gameBoard {
  grid-area: gameBoard;
  background-color: #231f20;
}

.header {
  grid-area: header;
  text-align: right;
  font-size: 200%;
  height: 30vh;
}

.footer {
  font-size: 100%;
  grid-area: footer;
  text-align: center;
}

h4 {
  transform: rotate(90deg);
  position: absolute;
  right: -90px;
  bottom: 81px;
  background-color: #1538cf;
  padding: 10px 10px 10px 58px;
  margin-right: 0;
}

.result {
  color: white;
  -webkit-text-stroke: 10px #231f20;
  font-size: 1200%;
  top: 10vh;
  left: 20vw;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.hide {
  visibility: hidden;
}
